# Ignore the virtual environment directory
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore other common files
.env
.idea/
.vscode/
*.log

# text files
.txt

# test
test.py